ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Indie Flower";
  font-size: 56px;
  letter-spacing: 1em;
  text-shadow: 3px 3px rgba(230, 15, 69, 1);
}

h1::first-letter {
  color: red;
  text-shadow: 3px 3px black;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 100%;
}
@media screen and (min-width: 420px) {
  .card {
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 726px) {
  .card {
    width: calc(33.333% - 20px);
  }
}

@media screen and (min-width: 1280px) {
  .card {
    width: calc(25% - 30px);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.index__form {
  order: -1;
}
